{
    "tabWidth": 2,
    "useTabs": false,
    "singleQuote": false,
    "jsxSingleQuote": false,
    "bracketSpacing": true,
    "bracketSameLine": false,
    "arrowParens": "always",
    "endOfLine": "lf",
    "quoteProps": "as-needed",
    "jsxBracketSameLine": false,
    "trailingComma": "es5",
    "semi": true,
    "printWidth": 120,
    "plugins": [
        "prettier-plugin-tailwindcss"
    ]
}